.search-form {
    display: flex;
    margin-top: 0.6em;
    max-width: 34em;
}

.form-field {
    width: 100%;
}

.mat-raised-button {
    display: block;
    height: fit-content !important;
    margin: 0.5em;
}