@use 'sass:map';
@use '~@angular/material/theming';
@import './app/app.component-theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { padding: 0.5em; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: mat-color($my-app-primary, 'darker'); color: mat-color($my-app-accent); }
